{% extends "template_page.html" %}
{% from "b_form.html" import b_form %}
{% block content %}
    <div class="container">
      <div class="b-article">
        <div class="b-article__header">
          {{ article.header|e }}
        </div>
        <div class="b-article__signature">
          {{ article.signature|e }}
        </div>
        <div class="b-article__body">
          {{ article.body|e }}
        </div>
        {% if can_edit %}
        <div class="b-article__btn-edit">
            <a href="#" class="b-btn btn btn-primary" onclick="show_form()">Редактировать</a>
        </div>
        {% endif %}
      </div>
    </div><!-- /.container -->
    {% if can_edit %}
      {{ b_form(True) }}
    {% endif %}
{% endblock %}
